.colorpalette {
	color: #99b9df; /*accent blue 30% lighter*/
	color: #70a6e4; /*accent blue 20% lighter*/
	color: #5498e7; /*accent blue 10% lighter*/
	color: #478cdb; /*accent blue*/
	color: #317ed6; /*accent blue 10% darker*/
	color: #2972c5; /*accent blue 20% darker*/
	color: #2661a4; /*accent blue 30% darker*/
	color: white; /*nav panel*/
	color: #eee; /*page color*/
	color: lightgray; /*dark main text color*/
	color: #AAA; /*link visited link disabled*/
	color: #888; /*light and dark theme medium grey*/
	color: rgba(120, 120, 120, 0.75); /*light and dark theme medium grey*/
	color: #555; /*dark link visited link disabled*/
	color: #1f1f1f; /*dark nav panel*/
	color: #111; /*dark page color*/
	color: black; /*main text color*/
}

/* responsive layout css classes (dynamically set on html tag)
	html.phon = phone <= 640px wide
	html.tabl = tablet = between 640px and 1280px wide
	html.desk = desktop/laptop > 1280px wide
	html.port = portrait orientation
	html.land = landscape orientation
	.dark = dark-theme
*/

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

html, .inAppBrowserWrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-overflow-scrolling: touch;
	-ms-content-zooming: none;
	overflow: hidden;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	background-color: black;
	overscroll-behavior: contain;
}

body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body, input, button, textarea {
	font-family: 'Segoe UI', Roboto, Selawik, 'HelveticaNeue-Light', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 0.03125rem;
}

input,
textarea,
[contenteditable] {
	caret-color: #478cdb; /*accent blue*/
}

a {
	border: 0;
	padding: 0;
	margin: 0;
}

a, button, .link, .navlink, .jumplink, .cardHeading {
	cursor: pointer;
	background-color: transparent;
	text-decoration: none;
}

	a:active,
	a:hover,
	a:focus,
	button:active,
	button:hover,
	button:focus,
	.link:active,
	.link:hover,
	.link:focus,
	.navlink:active,
	.navlink:hover,
	.navlink:focus{
		outline: 0;
	}

button {
	font-size: 14px;
	border: 1px solid transparent;
	padding: 12px;
	border-radius: 2px;
	-webkit-appearance: button;
	-webkit-writing-mode: horizontal-tb !important;
	writing-mode: horizontal-tb;
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: uppercase;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	box-sizing: border-box;
	margin: 0em;
}

img {
	vertical-align: top;
}

.roundImage {
	border-radius: 50%;
	height: 132px;
	width: 132px;
	margin-right: 16px;
}

h1, h2, h3, h4, h5, h6 {
	margin-block-start: 1em;
	margin-block-end: 0.4em;
}

h1 {
	font-size: 96px;
	line-height: 112px;
	font-weight: 100;
	letter-spacing: -0.015625rem;
}

h2 {
	font-size: 60px;
	line-height: 72px;
	font-weight: 100;
	letter-spacing: -0.008333rem;
}

h3 {
	font-size: 48px;
	line-height: 56px;
	font-weight: 200;
	letter-spacing: 0rem;
}

h4 {
	font-size: 34px;
	line-height: 40px;
	font-weight: 200;
	letter-spacing: 0.007353rem;
}

h5,
title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 300;
	letter-spacing: 0rem;
}

h6,
.cardHeading {
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	letter-spacing: 0.0075rem;
}

hr {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid white;
	clear: both;
}

.dark hr {
	border-top: 1px solid black;
	border-bottom: 1px solid #555;
}

base {
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	letter-spacing: 0.010714rem;
}

caption {
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	letter-spacing: 0.033333rem;
}

overline {
	font-size: 10px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.015rem;
}

table {
	border-collapse: collapse;
}

th,
.editable-table .tableMenuButton {
	background-color: #f2f2f2;
	font-weight: normal;
}

.dark th,
.dark .editable-table .tableMenuButton {
	background-color: #161616;
}

th,
.editable-table .tableMenuButton button,
.editable-table .table-container {
	outline: 1px solid white;
}

.dark th,
.dark .editable-table .tableMenuButton button,
.dark .editable-table .table-container {
	outline: 1px solid #292929;
}

table, th, td, table input {
	border: none;
}

th, td, table li {
	text-align: left;
	vertical-align: middle;
}

tbody tr th, 
thead a,
.editable-table .tableFixedHead thead th.first {
	padding: 8px;
	width: 47px;
}

.editable-table table.tableFixedHead {
	min-width: 100%;
}

td a {
	display: block;
	width: 100%;
	padding-top: 4px;
}

table input{
	padding: 9px;
}

table input:focus{
	outline: 1px solid #478cdb; /*accent blue*/
}

.dark table input:focus{
	background-color: #2d2d2d;
}

table li {
	padding: 8px;
	border-bottom: 2px solid white;
}

.dark table li {
	border-bottom: 1px solid #292929;
}

table button {
	width: 100%;
	text-align: left;
}

table tr button {
	text-transform: none;
	font-size: 16px;
}

table,
table input {
	background-color: white;
}

.dark table,
.dark table input {
	background-color: #202020;
	color: lightgray;
}

button.dropdownButton .icon-triangle-top,
button.dropdownButton .icon-triangle-bottom {
	position: absolute;
	right: 8px;
	top: 33%;
}

button.dropdownButton.withArrow{
	white-space: nowrap;
	position: relative;
	padding-right: 24px;
}

table .dropdown {
	padding: 0;
	margin: 0;
	margin-right: 8px;
	min-width: 160px;
	font-weight: normal;
	background-color: #fdfdfd;
}

tr:nth-child(even),
tr:nth-child(even) input {
	background-color: #fafafa;
}

.dark tr:nth-child(even),
.dark tr:nth-child(even) input  {
	background-color: #252525;
}

.editable-table .table-container,
.editable-table .stripeFiller {
	background: repeating-linear-gradient(
		#fafafa, 
		#fafafa 40px, 
		#ffffff 40px, 
		#ffffff 80px
	);
	width: 100%;
}

.dark .editable-table .table-container,
.dark .editable-table .stripeFiller {
	background: repeating-linear-gradient(
		#252525,
		#252525 40px,
		#202020 40px,
		#202020 80px
	);
}

.editable-table .table-container {
	position: relative;
	overflow: auto;
	width: 100%;
	height: 100%;
	max-height: 600px;
	min-height: 300px;
	overscroll-behavior: none;
}

html.phon .editable-table .table-container {
	width: 100%;
}

.editable-table.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-height: 100%;
	background-color: #eee;
	z-index: 3;
	padding: 0;
}

.editable-table.fullscreen .table-container {
	max-height: 100%;
}

html.desk .editable-table.fullscreen {
	bottom: 54px;
    right: 28px;
}

.dark .editable-table.fullscreen {
	background-color: black;
}

.editable-table .tableFixedHead thead th { 
	position: sticky;
	top: 0; 
	z-index: 3;
}

.editable-table .tableFixedHead tbody th {
	position: sticky;
  	left: 0;
	top: auto;
	z-index: 2;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

.fixedHeight th {
	height: 40px;
}

.fixedHeight td div{
	height: 38px;
    overflow: hidden;
    padding: 0px 12px;
    white-space: pre;
    width: 260px;
    line-height: 40px;
}

.tableOverlay {
	position: absolute;
	width: 100%;
	top:0;
	bottom:0;
	padding: 80px 0 0 50px;
}

tr.tableInputs{
	height: 0;
}

.tableInputs th{
	height: 0;
}

.tableInputs td{
	height: 0;
}

.tableInputs input {
	position: relative;
	width: 100%;
}

.editable-table {
	position: relative;
}

.editable-table .tableMenuButton {
	position: absolute;
	z-index: 4;
}

.editable-table .tableMenuButton button{
	padding: 13px 15px;
	border-radius: 0px;
}

.editable-table input.tableMultiInput,
.editable-table textarea.tableMultiInput {
	position: absolute;
	top: 50px;
	left: 48px;
	z-index: 1;
	height: 41px;
	border: 0;
	padding: 0 11.5px;
	width: 260px;
	line-height: 40.5px;
	outline: 1px solid lightgrey;
}

.dark .editable-table input.tableMultiInput,
.dark .editable-table textarea.tableMultiInput {
	outline: 1px solid #333;
}

.editable-table input.tableMultiInput:focus,
.editable-table input.tableMultiInput:active,
.editable-table textarea.tableMultiInput:focus,
.editable-table textarea.tableMultiInput:active {
	outline: 1px solid #478cdb; /*accent blue*/
}

.editable-table input.invalid.tableMultiInput,
.editable-table textarea.invalid.tableMultiInput {
	outline: 1px solid red;
}

.editable-table textarea.tableMultiInput {
	height: 200px;
	width: 350px;
	line-height: 24px;
	padding-top: 9px;
	white-space: nowrap;
}

.editable-table .multiInputErrorMessage{
	color: red;
	font-size: 12px;
	position: absolute;
	z-index: 2;
	white-space: nowrap;
}

.editable-table .tableFixedHead tbody th.seeMenuButtonTh{
	position: relative;
	top: 18px;
}

.editable-table .tableFixedHead tbody th.seeMenuButtonTh button,
.editable-table .tableFixedHead tbody th.seeMenuButtonTh button,
.editable-table .tableFixedHead tbody th.seeMenuButtonTh button {
	pointer-events: none;
}

#loading {
	color: #333;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 50;
	opacity: 1;
	-webkit-transition: opacity ease 1s, height 0s 1s;
	-moz-transition: opacity ease 1s, height 0s 1s;
	-o-transition: opacity ease 1s, height 0s 1s;
	transition: opacity ease 1s, height 0s 1s;
	will-change: opacity, height;
}

#loading.done {
	height: 0;
	opacity: 0;
}

#notification {
	position: fixed;
	z-index: 45;
	min-height: 44px;
}

html.phon #notification {
	width: 100%;
	top: 54px;
}

html.tabl #notification,
html.desk #notification {
	left: 3%;
	bottom: 2%;
	border-radius: 2px;
	max-width: 94%;
}

#notification_loader {
	float: left;
	min-height: 36px;
	padding: 4px;
}

#notification_msg {
	padding: 8px 42px 8px 12px;
	font-size: 20px;
	line-height: 30px;
}

#hideNotification {
	position: absolute;
	color: #ddd;
	color: rgba(255,255,255,0.8);
	top: 0;
	right: 0;
	padding: 10px 16px 14px 16px;
}

#spinner{
	position: fixed;
	top: 66px;
	left: 12px;
}

.close {
	opacity: 0.7; /*override bootstrap*/
	font-size: 21px;
}

.dark .close {
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
}

.dark .close:hover,
.dark .close:focus,
.dark .close:active,
.dark .close.hover,
.dark .close.focus,
.dark .close.active {
	color: #000000;
	text-decoration: none;
	opacity: 0.5;
}

div,
img {
	padding: 0;
	margin: 0;
	border: 0;
}

div:link,
div:hover,
div:active,
a:link,
a:hover,
a:active {
	text-decoration: none;
}

#app {
	margin-top: 54px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

html.phon.land #app,
html.tabl #app {
	right: 0px;
	width: auto;
	padding-right: 54px;
}

#app .hidden,
html.tabl .phon,
html.tabl .desk,
html.phon .tabl,
html.phon .desk,
html.land .port,
html.port .land,
html.desk .phon,
html.desk .tabl {
	display: none;
}

html.tabl .tabl.phon,
html.phon .tabl.phon,
html.desk .tabl.desk,
html.tabl .tabl.desk,
html.phon .desk.phon,
html.desk .desk.phon {
	display: block;
}

html,
#app,
html.phon .searchSuggestions-container,
.views {
	background-color: #eee; /*page color*/
}

html.dark,
.dark #app,
.dark #searchAutoComplete,
html.phon.dark .searchSuggestions-container,
.dark #stoKeyInput,
.dark #stoKeyInputConfirm,
.dark .views {
	background-color: #111; /*dark page color*/
}

#closeSidenav {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 8;
	background-color: transparent;
	pointer-events: none;
}

html.tabl #closeSidenav,
html.phon #closeSidenav {
	top: 54px;
	right: 54px;
}

html.desk #closeSidenav {
	top: 54px;
	right: 0;
}

#notification {
	background-color: #478cdb; /*accent blue*/
	color: white;
}

#notification:focus,
#notification:active {
	background-color: #5498e7; /*accent blue 10% lighter*/
}

/* declarative classes*/

.disabled{
	pointer-events: none;
}

:visited,
.disabled {
	color: #AAA; /*link visited link disabled*/
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
	padding-top: 12px;
}

.clear:after {
	content: "";
	 display: table;
	 clear: both;
}

.rotate45 {
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

html,
#app,
.dialog,
#searchReset,
.searchSuggestions,
#searchResults,
#currentView,
#stoKeyInput,
#stoKeyInputConfirm,
.cancelButton{
	color: black; /*main text color*/
}

html.dark,
.dark #app,
.dark .dialog,
.dark #searchReset,
.dark .searchSuggestions,
.dark #searchResults,
.dark #currentView,
.dark #stoKeyInput,
.dark #stoKeyInputConfirm,
.dark .textbox,
.dark .cancelButton,
.dark .editable-table .tableMultiInput {
	color: lightgray; /*dark main text color*/
}

#searchAutoComplete {
	-webkit-opacity: 1; /* iOS override */
	opacity: 1; /* iOS override */
	-webkit-text-fill-color:#aaa; /* iOS override */
	color: #aaa;
}

.dark #searchAutoComplete {
	-webkit-text-fill-color:#555; /* iOS override */
	color: #555;
}

nav {
	font-size: 16px;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 54px;
	border-bottom: 1px solid lightgray;
	z-index: 5;
}

nav,
nav .switch label,
.searchSuggestions-container,
#sidenav button,
.dropdown-container button.selected,
html.desk .dropdown-container button.selected:hover,
.dropdown {
	background-color: white; /*nav panel*/
}

.view .dropdown {
	background-color: #fbfbfb;
}

.dark nav,
.dark nav .switch label,
.dark .searchSuggestions-container,
.dark #sidenav button,
.dark .dropdown-container button.selected,
html.desk.dark .dropdown-container button.selected:hover,
.dark .dropdown {
	background-color: #1f1f1f; /*dark nav panel*/
}

.dark .view .dropdown {
	background-color: #1c1c1c;
}

.dark #navbar,
.dark #sidenav {
	border-bottom: 1px solid black;
}

#navbar,
html.tabl .searchSuggestions-container,
html.desk .searchSuggestions-container,
.dropdown {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.dark #navbar,
html.tabl.dark .searchSuggestions-container,
html.desk.dark .searchSuggestions-container,
.dark .dropdown {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

#navbar .navButtons .navlink {
	float: left;
}

#back,
#menu,
#search,
#cancelSearch,
#navbar .navButtons .navlink {
	padding: 16px 20px;
}

#navbar .navlink {
	text-align: center;
	height: 54px;
}

.navlink {
	color: #777;
}

.dark .navlink {
	color: #aaa;
}

#navbar .navButtons {
	height: 100%;
}

#currentView {
	padding: 16px;
}

#back, #currentView {
	float: left;
}

#sidenav {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 320px;
	max-width: 90%;
	top: 54px;
	bottom: 0;
	right: -320px;
	will-change: transform;
	-webkit-transition: transform 0.2s ease;
	-moz-transition: transform 0.2s ease;
	-o-transition: transform 0.2s ease;
	transition: transform 0.2s ease;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
	z-index: 9;
}

#topnav-container{
	position: relative;
	left: 20px;
}

#sidenav-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

html.phon #sidenav-container,
html.tabl #sidenav-container {
	scrollbar-width: none;
	overflow-y: scroll;
	padding-right: 30px;
	width: 100%; /*hide scrollbar hack*/
}

html.phon.land #sidenav,
html.tabl #sidenav {
	right: -264px;
}

#app.sidenav_open #sidenav {
	-webkit-transform: translateX(-290px);
	-moz-transform: translateX(-290px);
	-ms-transform: translateX(-290px);
	-o-transform: translateX(-290px);
	transform: translateX(-290px);
}

html.phon.land #app.sidenav_open #sidenav,
html.tabl #app.sidenav_open #sidenav {
	-webkit-transform: translateX(-234px);
	-moz-transform: translateX(-234px);
	-ms-transform: translateX(-234px);
	-o-transform: translateX(-234px);
	transform: translateX(-234px);
}

#app.sidenav_open #closeSidenav {
	pointer-events: auto;
}

#sidenav .navButtons .navlink,
#sidenav .text {
	max-width: 290px;
	padding: 16px 20px;
}

#sidenav .text {
	background-color: lightgray;
	background-color: rgba(0,0,0,0.03);
}

.dark #sidenav .text {
	background-color: #333;
	background-color: rgba(255,255,255,0.04);
}

#sidenav .right button,
#sidenav button.right{
	position: relative;
	top: -16px;
}

#sidenav .dropdown.right {
	top: 36px;
}

.navlinkIndicator {
	background-color: #478cdb; /*accent blue*/
}

#topIndicator {
	position: relative;
	height: 3px;
	top: 50px;
	will-change: right, width;
	-webkit-transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.2s;
	-moz-transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.2s;
	-o-transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.2s;
	transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.2s;
}

#sideIndicator {
	position: absolute;
	width: 3px;
	height: 54px;
	will-change: top;
	-webkit-transition: top linear 0.2s;
	-moz-transition: top linear 0.2s;
	-o-transition: top linear 0.2s;
	transition: top linear 0.2s;
}
#stoKeyInput,
#stoKeyInputConfirm {
	background-color: white;
	width: 100%;
}

.alert {
	color: red;
}

#sidenav label {
	font-size: 13px;
	float: left;
}

#sidenav button {
	height: 40px;
	min-width: 40px;
	padding: 10px;
	margin: 8px 0;
	border: 1px solid lightgray;
	font-size: 15px;
}

#copy {
	position: relative;
	bottom: 0;
	right: 0;
	text-align: right;
	color: #bbb;
}

.dark #copy {
	color: #555;
}

#router-views{
	position: fixed;
	top: 54px;
	left: 0;
	width: 200%;
	height: 100%;
}

.views{
	width: 100%;
	height: 100%;
}

.view {
	width: 51%;
	padding-right: 1%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	float: left;
	will-change: width, opacity, transform;
	scrollbar-width: none;
}

.scroll-outer-container{
	height: 100%;
}

html.phon .view,
html.tabl .view{
	width: 60%; /*hide scrollbars hack*/
	padding-right: 9%;
}

.view-container {
	width: 100%;
	padding: 8px 16px 8px 16px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

html.phon .view-container,
html.tabl .view-container {
	padding-left: 8px;
}

html.phon .view-container {
	padding-right: 20px;
}

html.tabl .view-container {
	padding-right: 74px;
}

.splitViewLeft {
	display: none;
}

html.desk .splitViewLeft {
	display: block;
	float: left;
	width: 18%;
	transition: width cubic-bezier(0.1, 0.9, 0.2, 1) 0.3s;
}

html.desk .splitViewLeft::-webkit-scrollbar {
    display: none;
}

html.desk .splitViewRight {
	width: 37%;
	padding-right: 4%;
	position: relative;
	right: 25px;
	border-left: 2px solid lightgray;
}

html.desk.dark .splitViewRight {
	border-left: 2px solid #333;
}

html.phon .searchBar_open #back,
html.phon .searchBar_open #currentView,
.searchBar_open #menu,
html.tabl .searchBar_open .navButtons.tabl.desk {
	display: none;
}

#searchBar {
	position: relative;
	left: 10px;
	min-height: 38px;
	overflow: hidden;
	width: 0;
	opacity: 0;
	will-change: width, opacity;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

html.tabl #searchBar,
html.desk #searchBar {
	padding: 8px 10px;
}

html.phon #searchBar {
	position: absolute;
	padding-top: 8px;
	left: 400px;
	right: 114px;
	will-change: left, opacity;
	-webkit-transition: left 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
	-moz-transition: left 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
	-o-transition: left 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
	transition: left 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.searchBar_open #searchBar,
html.tabl .searchSuggestions-container,
html.desk .searchSuggestions-container {
	width: 300px;
}

.searchBar_open #searchBar {
	-webkit-transition: width 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
	-moz-transition: width 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
	-o-transition: width 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
	transition: width 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
	opacity: 1;
}

.searchBar_closing #searchBar {
	-webkit-transition: width 0.15s cubic-bezier(0.1, 0.9, 0.2, 1);
	-moz-transition: width 0.15s cubic-bezier(0.1, 0.9, 0.2, 1);
	-o-transition: width 0.15s cubic-bezier(0.1, 0.9, 0.2, 1);
	transition: width 0.15s cubic-bezier(0.1, 0.9, 0.2, 1);
}
html.phon .searchBar_open #searchBar {
	width: auto;
	left: 8px;
}
#searchBox {
	background-color: transparent;
	z-index: 35;
	position: relative;
	bottom: 38px;
}

#searchBox,
#searchAutoComplete {
	width: 100%;
}

#searchBox::-webkit-search-decoration,
#searchBox::-webkit-search-cancel-button,
#searchBox::-webkit-search-results-button,
#searchBox::-webkit-search-results-decoration,
#searchAutoComplete::-webkit-search-decoration,
#searchAutoComplete::-webkit-search-cancel-button,
#searchAutoComplete::-webkit-search-results-button,
#searchAutoComplete::-webkit-search-results-decoration {
	-webkit-appearance: none; /*ios fix*/
	display: none;
}

#searchBox,
#searchAutoComplete,
#stoKeyInput,
#stoKeyInputConfirm {
	height: 38px;
	border: 1px solid lightgray;
}

#searchBox,
#searchAutoComplete {
	text-transform: lowercase;
	text-indent: 15px;
}

html.phon #searchBox,
html.phon #searchAutoComplete {
	text-indent: 7px;
}

html.desk #searchBox,
html.desk #searchBar {
	position: relative;
	right: 0;
}

.dark #searchBox,
.dark #searchAutoComplete,
.dark #stoKeyInput,
.dark #stoKeyInputConfirm,
.dark #sidenav button {
	border-color: #444;
}

#searchAutoComplete {
	z-index: 30;
	pointer-events: none;
	background-color: #fafafa;
}

html.tabl.dark #search:before,
html.phon.dark #search:before {
	width: 1px;
	height: 52px;
	content: "";
	position: absolute;
	right: 56px;
	top: 0;
}
/*implimented own clear text x so remove default x*/
input[type=text]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}

input[type=text]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

#searchReset {
	position: absolute;
	right: 10px;
	top: 8px;
	height: 38px;
	background: none;
	border: none;
	width: 40px;
	z-index: 40;
	opacity: 0.33;
}

html.desk .searchBar_open #searchReset {
	display: block;
}

.searchSuggestions-container,
.searchSuggestions,
.dropdown {
	list-style: none;
	margin: 0;
	padding: 0;
	text-indent: 0;
	text-align: left;
	overflow-y: auto;
	overflow-x: hidden;
}

html.desk .searchSuggestions-container,
html.tabl .searchSuggestions-container {
	position: relative;
	top: -38px;
	max-height: 300px;
	z-index: 30;
	width: 280px;
	scrollbar-width: none;
}

html.phon .searchSuggestions-container {
	position: fixed;
	top: 54px;
	bottom: 0;
	left: 0;
	z-index: 4;
	box-shadow: none;
	width: 106%; /*hide scrollbar hack*/
	padding-right: 6%;
	scrollbar-width: none;
}

/*Forms*/
input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

form:active,
form:focus,
input:focus,
input:active {
	outline: none;
}

input::-moz-focus-inner {
	border: 0;
}

input[type=checkbox] {
	top: 14px;
	left: 28px;
	display: none;
}

form.find,
.checkbox label:before,
.switch,
.textbox,
table input:focus {
	border-color: #e1e1e1 white white #e1e1e1;
	border-color: rgba(128, 128, 128, 0.1) white white rgba(128, 128, 128, 0.1);
	box-shadow: rgba(128, 128, 128, 0.5) 1px 1px 3px inset;
}

.dark form.find,
.dark .checkbox label:before,
.dark .switch,
.dark .textbox,
.dark .valid .textbox,
.dark table input:focus {
	border-color: black #252525 #252525 black;
	box-shadow: black 1px 1px 3px inset;
}

.checkbox label:before,
.switch,
.textbox {
	background-color: white;
}

.dark .checkbox label:before,
.dark .switch,
.dark .textbox {
	background-color: #333;
	background-color: rgba(128, 128, 128, 0.25);
}

.invalid .textbox,
.editable-table .invalid.tableMultiInput {
    color: red;
}

.invalid .textbox:focus,
.dark .invalid .textbox:focus {
	border-color: red;
}

.switch label,
html.desk button:hover,
html.desk .link:hover,
html.desk .button-link:hover,
html.desk .jumplink:hover,
button:active,
.link:active,
.button-link:active,
.jumplink:active,
html.phon .cardHeading:active {
	background: #eee; /* Old browsers */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(230, 230, 230, 0.1) 50%, rgba(0, 0, 0, 0.02) 100%);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(230, 230, 230, 0.1) 50%, rgba(0, 0, 0, 0.02) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(230, 230, 230, 0.1) 50%, rgba(0, 0, 0, 0.02) 100%);
}

.switch label,
html.desk button:hover,
button:active,
.link,
.jumplink,
html.phon .cardHeading {
	border-top: 1px solid white;
}
.switch label,
html.desk button:hover,
html.desk .link:hover,
html.desk .jumplink:hover,
button:active,
.link:active,
.jumplink:active {
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
}

.switch label,
html.desk button:hover,
button:active,
.link,
html.phon .card {
	border-bottom: 1px solid #e1e1e1;
}

.dark .switch label,
html.desk.dark button:hover,
html.desk.dark .link:hover,
html.desk.dark .button-link:hover,
html.desk.dark .jumplink:hover,
.dark button:active,
.dark .link:active,
.dark .button-link:active,
.dark .jumplink:active,
html.phon.dark .cardHeading:active {
	background: #222;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.02) 0%, rgba(150, 150, 150, 0.02) 50%, rgba(0, 0, 0, 0.2) 100%);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.02) 0%, rgba(150, 150, 150, 0.02) 50%, rgba(0, 0, 0, 0.2) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.02) 0%, rgba(150, 150, 150, 0.02) 50%, rgba(0, 0, 0, 0.2) 100%);
}

.dark .switch label,
html.desk.dark button:hover,
.dark button:active,
.dark .link,
.dark .jumplink,
html.phon.dark .cardHeading {
	border-top: 1px solid #252525;
}

.dark .switch label,
html.desk.dark button:hover,
html.desk.dark .link:hover,
html.desk.dark .jumplink:hover,
.dark button:active,
.dark .link:active,
.dark .jumplink:active {
	border-right: 1px solid #1c1c1c;
	border-left: 1px solid #1c1c1c;
}

.dark .switch label,
html.desk.dark button:hover,
.dark button:active,
html.phon.dark .card,
.dark .link {
	border-bottom: 1px solid black;
}

#setColorButton{
	margin: 12px;
}

/* ON/OFF Switch */
.switch {
	width: 62px;
	height: 32px;
	margin: 3px 0;
	border-radius: 16px;
	border-width: 1px;
	border-style: solid;
	position: relative;
	line-height: 32px;
	text-indent: 0;
	top: -8px;
	text-shadow: 1px 1px 1px white, -1px -1px 1px #CCC;
}

.dark .switch {
	text-shadow: 1px 1px 1px #444, -1px -1px 1px #222;
}

	.switch:before {
		content: 'ON';
		position: absolute;
		top: 0;
		left: 7px;
		height: 3px;
		font-size: 12px;
		color: #5498e7; /*accent blue 10% lighter*/
	}
	
	.dark .switch:before {
		color: #70a6e4; /*accent blue 20% lighter*/
	}

	.switch:after {
		content: 'OFF';
		position: absolute;
		top: 0;
		left: 32px;
		height: 3px;
		font-size: 12px;
		color: #AAA; /*link visited link disabled*/
	}
	
	.dark .switch:after {
		color: #606060;
	}

	.switch label {
		display: block;
		width: 31px;
		height: 31px;
		border-radius: 50%;
		cursor: pointer;
		position: absolute;
		top: 0;
		z-index: 10;
		left: 0;
		background-color: #fafafa; /*button background*/
		box-shadow: inset rgba(0, 0, 0, 0.04) -2px -3px 5px;
		border: 1px solid #e1e1e1;
	}
	
	.dark .switch label {
		background-color: #090909; /*dark button background*/
		box-shadow: inset rgba(0, 0, 0, 0.4) -2px -4px 8px;
		border: 1px solid #333;
	}

		.switch label:focus {
			outline: none;
		}

		html.desk .switch label:focus {
			border: 1px dotted #478cdb; /*accent blue*/
		}

	.switch input[type=checkbox]:checked + label {
		left: 30px;
	}

.itemLabel {
	text-transform: uppercase;
	color: #888; /*light and dark theme medium grey*/
	color: rgba(120, 120, 120, 0.85); /*light and dark theme medium grey*/
	font-size: 14px;
}

html.phon .itemLabel {
	height: 24px;
	width: 100%;
}

html.phon .dropdown-container.itemLabel {
	height: 52px;
}

html.phon .itemLabel .dropdown {
	top: 38px;
}

html.tabl .itemLabel,
html.desk .itemLabel {
	float: left;
	text-align: right;
	padding: 16px;
	width: 38%;
	clear: both;
}

html.tabl .dropdown-container.itemLabel,
html.desk .dropdown-container.itemLabel {
	padding: 0 0 0 12px;
	top: 10px;
}

html.tabl .itemLabel button,
html.desk .itemLabel button {
	position: relative;
	bottom: 6px;
}

.itemText {
	padding: 16px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	position: relative;
	height: 100%;
}

.itemText div {
	padding-left: 12px;
}

html.tabl .itemText,
html.desk .itemText,
html.tabl .itemInput,
html.desk .itemInput {
	margin-left: 38%;
}

html.phon .itemText,
html.phon .itemInput {
	padding: 8px 0 24px 0;
}

.textbox, 
.editbox {
	width: 100%;
	padding: 3px 8px;
	margin: 10px 0;
}

html.phon .textbox,
html.phon .editbox {
	margin: 4px 0 16px 0;
}

.textbox {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	line-height: 1.2;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
}

input.textbox {
	height: 33px;
}

textarea {
	resize: none;
	height: 250px;
}

html.tabl .textbox,
html.desk .textbox {
	width: 60%;
	margin-left: 8px;
}

.dropdown-container .textbox {
	margin: 0 0 3px 0;
}

html.tabl .dropdown-container .textbox,
html.desk .dropdown-container .textbox {
	width: 100%;
	margin: 0 0 3px 0;
}

.cardHeading {
	display: block;
	min-height: 42px;
	padding: 13px 8px 13px 0;
}

.cardExpand {
	max-height: 1500px;
	overflow: unset;
}

html.desk .cardExpand,
html.tabl .cardExpand {
	border-left: 1px solid #478cdb; /*accent blue*/
	margin-left: 8px;
}

html.phon .cardExpand {
	border-top: 1px solid #e2e2e2;
	padding-top: 12px;
}

html.phon.dark .cardExpand {
	border-top: 1px solid #1b1b1b;
}

html .phon .cardExpand .lineItem {
	padding: 8px;
}

.lineItem, 
.card {
	clear: both;
	position: relative;
}

html.desk button.lineItem,
html.tabl button.lineItem{
	position: relative;
	left: 22%;
}

.lineItem div.alert{
	position: absolute;
    left: 40%;
    top: 42px;
}

html.phon .lineItem div.alert {
	left: 0;
    top: 56px;
}

.cancelButton {
	position: absolute;
	right: 19px;
	bottom: 16px;
	font-size: 12px;
}

html.phon .cancelButton {
	bottom: 21px;
}

.link,
.jumplink {
	display: block;
	min-width: 244px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

html.phon .link,
html.phon .jumplink,
html.phon .view-container,
html.phon .card {
	max-width: 570px;
}

html.tabl .link,
html.tabl .jumplink,
html.tabl .view-container,
html.tabl .card {
	max-width: 800px;
}

html.desk .link,
html.desk .jumplink,
html.desk .view-container,
html.desk .card {
	max-width: 1000px;
}

ul.links,
html.phon .cards {
	padding: 0;
	margin: 0;
}

.grid {
	display: grid;
    grid-template-columns: repeat(auto-fill,minmax(40px, 1fr));
}

ul.links,
html.phon .cards {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid white;
}

.dark ul.links,
html.phon.dark .cards {
	border-top: 1px solid black;
	border-bottom: 1px solid #252525;
}

.link,
.jumplink,
.button-link {
	min-height: 42px;
	padding: 13px 16px;
	text-align: left;
	overflow: hidden;
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;

}

.button-link {
	margin: 1px;
	border: none;
}

.jumplink,
.cardHeading {
	font-weight: bold;
}

.jumplink-button,
html.desk .jumplink-button:hover {
	float: left;
	min-width: 48px;
	min-height: 48px;
	padding: 13px 19px;
	margin: 8px;
}

li.link {
	list-style: none;
}

	li.link.icon {
		display: block;
	}

	li.link.icon-unchecked:before,
	li.link.icon-check:before {
		padding-right: 16px;
	}

.actionsBottom {
	position: sticky;
	bottom: 54px;
	padding-top: 20px;
	background-image: linear-gradient(rgba(0,0,0,0), #eee, #eee); /*transparent to page color*/
}

.dark .actionsBottom {
	background-image: linear-gradient(rgba(0,0,0,0), #111, #111); /*transparent to dark page color*/
}

:link,
html.desk .navlink:hover,
.navlink:active,
a,
button,
.jumplink,
.cardHeading,
#searchBox {
	color: #478cdb; /*accent blue*/
}

	.jumplink,
	.jumplink:active,
	html.desk .jumplink:hover,
	.dark .jumplink,
	html.desk.dark .jumplink:hover,
	html.phon .cardHeading,
	html.phon .cardHeading:active,
	html.phon.dark .cardHeading {
		border-bottom: 1px solid #478cdb; /*accent blue*/
	}

html.desk .link:hover,
html.desk .button-link:hover{
	color: #444;
}

.link:hover:active,
html.desk .link:hover:active {
	color: #666;
}


html.desk.dark .link:hover,
html.desk.dark .button-link{
	color: #eee;
}

.dark .link:hover:active,
.dark .button-link:hover:active,
html.desk.dark .link:hover:active,
html.desk.dark .button-link:hover:active {
	color: white;
}

#searchBox:focus,
#searchAutoComplete:focus,
#stoKeyInput:focus,
#stoKeyInputConfirm:focus,
.textbox:focus,
.dark #searchBox:focus,
.dark #searchAutoComplete:focus,
.dark #stoKeyInput:focus,
.dark #stoKeyInputConfirm:focus,
.dark .textbox:focus {
	border: 1px solid #478cdb; /*accent blue*/
	background-color: transparent;
}
.textbox:focus,
.editable-table .tableMultiInput {
	background-color: white;
}
.dark .textbox:focus,
.dark .editable-table .tableMultiInput {
	background-color: black;
}

a:active,
a:focus,
a.link:hover:active,
.dark a.link:hover:active,
a.button-link:hover:active,
.dark a.button-link:hover:active,
button:hover:active,
button.selected,
.jumplink:focus,
html.desk a:focus,
html.desk a:hover,
html.desk a.link:hover,
html.desk a.link:hover:active,
html.desk.dark a.link:hover,
html.desk.dark a.link:hover:active,
html.desk a.button-link:hover,
html.desk a.button-link:hover:active,
html.desk.dark a.button-link:hover,
html.desk.dark a.button-link:hover:active,
html.desk button:hover:active,
html.desk button:focus,
html.desk button.selected,
html.desk .jumplink:hover,
.cardHeading:focus,
.cardHeading:active,
html.desk .cardHeading:hover,
html.desk .cardHeading:hover:active {
	color: #5498e7; /*accent blue 10% lighter*/
}

.searchSuggestions .link:active,
.link.selected,
html.desk .link.selected:hover,
.button-link.selected,
html.desk .button-link.selected:hover {
	background-color: #70a6e4; /*accent blue 20% lighter*/
	color: white;
}

.navlink:active,
html.desk .navlink:hover:active {
	background-color: #99b9df; /*accent blue 30% lighter*/
}

.dark .searchSuggestions .link:active,
.dark .link.selected,
html.desk.dark .link.selected:hover,
.dark .button-link.selected,
html.desk.dark .button-link.selected:hover {
	background-color: #2972c5; /*accent blue 20% darker*/
}

.dark .navlink:active,
html.desk.dark .navlink:hover:active {
	background-color: #2661a4; /*accent blue 30% darker*/
}

.jumplink-button {
	border-radius: 24px;
}

.jumplink-button,
html.desk .jumplink-button:hover,
.jumplink.jumplink-button:active {
	border: 1px solid #478cdb; /*accent blue*/
}

.dark .jumplink-button,
html.desk.dark .jumplink-button:hover,
.dark .jumplink.jumplink-button:active {
	border: 1px solid #317ed6; /*accent blue 10% darker*/
}

.dropdown-container {
	position: relative;
}

.dropdown {
	position: absolute;
	max-height: 300px;
	min-width: 220px;
	z-index: 1;
}

.right.dropdown {
	right: 0;
}

.dropdownlink-text {
	width: 92%;
	padding-left: 8px;
	float: left;
}

.editbox {
	max-height: 500px;
	overflow-y: auto;
}
.groupMember {
	padding: 12px;
	margin: 2px;
	font-size: 16px;
	border: 2px solid #478cdb; /*accent blue*/
	float: left;
	width: auto;
	color: #478cdb; /*accent blue*/
}

button[disabled="disabled"],
html.desk button[disabled="disabled"]:hover,
button[disabled="disabled"]:active,
button[disabled="disabled"]:focus{
	background: none;
	border: none;
	color: #AAA; /*link visited link disabled*/
	cursor: not-allowed;
}

.dark button[disabled="disabled"],
.dark .disabled,
.dark :visited {
	color: #555; /*dark link visited link disabled*/
}

.dialogContainer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
}
.dialogContainer {
	background-color: white;
	background-color: rgba(255,255,255,0.5);
}

.dark .dialogContainer {
	background-color: black;
	background-color: rgba(0,0,0,0.5);
}

.dialog {
	position: fixed;
	z-index: 20;
	top: 100px;
	left: 50%;
	width: 450px;
	max-width: 85%;
	max-height: 70%;
	overflow: auto;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding: 0 24px 24px;
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
	border: 1px solid #478cdb; /*accent blue*/
	border-radius: 3px;
	background-color: white;
}

html.phon .view-container .dialog,
html.tabl .view-container .dialog {
	left: 42%;
}

.dark .dialog {
	box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.7);
	border-color: #5498e7; /*accent blue 10% lighter*/
	background-color: #1A1A1A;
}

.dialogMessage {
	font-size: 17px;
	padding: 16px 0;
	margin-bottom: 8px;
	max-height: 70%;
	overflow: auto;
}

.dialogButtons button {
	padding: 16px;
	margin: 8px;
	min-width: 100px;
	font-size: 16px;
}

.dialog.shake {
	animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
	box-shadow: 0 0 10px #478cdb; /*accent blue*/
}

@keyframes shake {
	10%, 90% {
		transform: translateX(-49%);
	}

	20%, 80% {
		transform: translateX(-52%);
	}

	30%, 50%, 70% {
		transform: translateX(-46%);
	}

	40%, 60% {
		transform: translateX(-54%);
	}
}

.dark .dialogButtons button,
.dark .dialogButtons button:active,
.dark .dialogButtons button:focus,
html.desk.dark .dialogButtons button:hover {
	border: none;
	color: white;
}

.dialogOK,
html.desk .dialogOK:hover,
.dialogOK:focus {
	border: none;
	background-color: #478cdb; /*accent blue*/
}

.dark .dialogOK,
html.desk.dark .dialogOK:hover,
.dark .dialogOK:focus {
	background-color: #5498e7; /*accent blue 10% lighter*/
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	position: absolute;
	z-index: 0;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
	background: #eee; /*page color*/
}

.dark ::-webkit-scrollbar-corner,
.dark ::-webkit-scrollbar-track {
	background: #111; /*dark page color*/
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.dark ::-webkit-scrollbar-thumb {
	background: #444;
	border: 1px solid #555;
}

::-webkit-scrollbar-track-piece {
	background: none;
}

.editable-table .table-container::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

.editable-table .table-container::-webkit-scrollbar-thumb {
	border-radius: 3px;
}

/*vue transitions*/
.forward-leave-active,
.back-leave-active {
	-webkit-transition: transform 0.15s cubic-bezier(0.7, 0, 1, 0.5), opacity 0.15s ease-out;
	-moz-transition: transform 0.15s cubic-bezier(0.7, 0, 1, 0.5), opacity 0.15s ease-out;
	-o-transition: transform 0.15s cubic-bezier(0.7, 0, 1, 0.5), opacity 0.15s ease-out;
	transition: transform 0.15s cubic-bezier(0.7, 0, 1, 0.5), opacity 0.15s ease-out;
	transition-delay: 0.2s;
}

html.phon.port .forward-leave-active,
html.phon.port .back-leave-active {
	transition-delay: 0s;
}

html.phon.port #app.sidenav_open .forward-leave-active,
html.phon.port #app.sidenav_open .back-leave-active{
	transition-delay: 0.2s;
}

.forward-enter-active,
.back-enter-active {
	-webkit-transition: all .3s cubic-bezier(0.1, 0.9, 0.2, 1);
	-moz-transition: all .3s cubic-bezier(0.1, 0.9, 0.2, 1);
	-o-transition: all .3s cubic-bezier(0.1, 0.9, 0.2, 1);
	transition: all .3s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.forward-enter, 
.forward-leave-to, 
.back-enter, 
.back-leave-to {
	opacity: 0;
}

html.desk .forward-enter {
	transform: translateX(50px);
}

html.desk .forward-leave-to {
	transform: translateX(-300px);
}

html.desk .back-enter {
	transform: translateX(-50px);
}

html.desk .back-leave-to {
	transform: translateX(300px);
}

.expand-enter-active {
	overflow: hidden;
	transition: max-height 0.6s cubic-bezier(0.8, 0, 0.2, 1) /*, overflow 0s linear 0.6s*/;
}

.expand-leave-active {
	overflow: hidden;
	transition: max-height 0.3s cubic-bezier(0.8, 0, 0.2, 1) /*, overflow 0s linear 0.3s*/;
}

.expand-enter,
.expand-leave-to {
	max-height: 0;
}