# .gitignore
[Pp]lugins/android.json
[Pp]lugins/windows.json
[Pp]lugins/wp8.json
[Pp]lugins/remote_ios.json
/[Pp]latforms/

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Typescript
tsc
*.cmd
tsserver

# JSDoc
jsdoc
jsdoc2md
jsdocconf.json
package.json
out/*

# Other
*.bac.js
*.ods
*.bac
*.map
/images/icons