<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com https://api.dropbox.com https://api.dropboxapi.com/2/ https://api-content.dropbox.com https://cfl.dropboxstatic.com/ https://content.dropboxapi.com/2/ https://dropbox-api.arkoselabs.com/ https://www.dropbox.com https://*.googleusercontent.com/ 'unsafe-eval'; style-src 'self' 'unsafe-inline' data:; media-src *" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

	<title>Nyckel (Beta)</title>
	<meta name="description" content="Nyckel Database Application" />

	<!--Favicons-->
	<link rel="icon" type="image/ico" href="favicon.ico?v=4" />
	<link rel="icon" type="image/png" href="favicon-16x16.png?v=4" sizes="16x16" />
	<link rel="icon" type="image/png" href="favicon-32x32.png?v=4" sizes="32x32" />
	<link rel="icon" type="image/png" href="images/android/android-launchericon-96-96.png?v=4" sizes="96x96" />
	<link rel="shortcut icon" href="favicon.ico?v=4" />

	<!--web app manifest-->
	<link rel="manifest" href="manifest.json" />

	<!-- Fallback application metadata for legacy browsers -->
	<meta name="application-name" content="Nyckel" />

	<!--microsoft-->
	<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico?v=2" />
	<meta name="msapplication-tooltip" content="Nyckel Database Application" />
	<meta name="msapplication-navbutton-color" content="#478cdb" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="msapplication-config" content="none" />

	<!--apple-->
	<!-- Place 180x180px apple-touch-icon.png in the root directory -->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
	<!--ipad-->
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png" />
	<!--ipad retina-->
	<link rel="apple-touch-icon" sizes="167x167" href="apple-touch-icon-167x167.png" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#478cdb" />
	<meta name="apple-mobile-web-app-title" content="Nyckel" />

	<!--chrome-->
	<meta name="mobile-web-app-capable" content="yes" />
	<!-- Place 192x192px icon.png in the root directory -->
	<link rel="icon" type="image/png" sizes="192x192" href="icon.png?v=4" />

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#478cdb" />

	<!--css-->
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<link rel="stylesheet" type="text/css" href="css/icons.css" />
</head>
<body>
	<div id="loading"></div>
	<div id="app" v-bind:class="{'sidenav_open': showSideNav, 'dark-theme': useWindowsTheme && windowsDarkTheme || useWindowsTheme === false && darkTheme }">
		<nav id="navbar" v-bind:class="{searchBar_open: showSearchBar}">
			<div id="back" class="navlink" v-show="backArrow" v-on:click="goBack" tabindex="1" title="Back"><span class="icon icon-chevron-left"></span></div>
			<div id="currentView"> {{ currentView.name }}</div>
			<!--right buttons (reverse order)-->
			<div id="cancelSearch" class="navlink right" v-show="showSearchBar" v-on:click="cancelSearch" tabindex="12" title="Cancel Search"><span class="icon icon-remove"></span></div>
			<div id="menu" class="navlink right" v-on:click="showSettings = false; toggle('showSideNav');" tabindex="6"><span class="icon icon-menu-hamburger"></span></div>
			<div id="search" class="navlink right" v-on:click="search" tabindex="11"><span class="icon icon-search"></span></div>
			<form id="searchBar" class="right">
				<input id="searchBox" type="search" autocomplete="off" tabindex="8" v-model="searchBox" v-on:keypress="searchKeyPress($event)" v-on:keyup="searchKeyUp($event)" v-on:keydown="searchKeyDown($event)" v-on:input="searchInput($event)" v-on:focus="showSearchSuggestions=true" />
				<!--<input id="searchBox" type="search" autocomplete="off" tabindex="8" v-on:keypress="searchKeyPress($event)" v-on:keyup="searchKeyUp($event)" v-on:keydown="searchKeyDown($event)" v-on:input="searchInput($event)" v-on:focus="showSearchSuggestions=true" />-->
				<input id="searchReset" type="reset" value="&#10005;" tabindex="9" v-on:click="resetSearch" />
				<div id="searchAutoComplete"> {{ searchAutoComplete }}</div>
				<div id="searchSuggestions-container" tabindex="10" v-if="showSearchBar && searchSuggestions.length > 0 && showSearchSuggestions">
					<ul id="searchSuggestions">
						<li v-for="(suggestion, index) in searchSuggestions" v-on:click="applySuggestion(searchSuggestions[index])" class="link">{{ searchSuggestions[index] }}</li>
					</ul>
				</div>
			</form>
			<div id="topnav-container" class="views desk right">
				<div v-for="(navlink, key, index) in views" v-if="navlink.level === 1" v-bind:id="'topnavlink_' + key" class="navlink" v-on:click="navigate(key)" v-bind:tabindex="index + 2"><span class="icon" v-bind:class="navlink.icon"></span> &nbsp; {{ navlink.name }}</div>
				<div id="topIndicator" class="navlinkIndicator desk" v-bind:style="{ right: indicatorRight + 'px', width: indicatorWidth + 'px' }"></div>
			</div>
		</nav>
		<nav id="sidenav">
			<div id="sidenav-container">
				<div class="views">
					<div id="sideIndicator" class="navlinkIndicator phon tabl" v-bind:style="{ top: indicatorTop + 'px' }"></div>
					<div v-for="(navlink, key, index) in views" v-if="navlink.level === 1" v-bind:id="'sidenavlink_' + key" class="navlink phon tabl" v-on:click="navigate(key)" v-bind:tabindex="index + 13" v-bind:title="navlink.name"><span class="icon" v-bind:class="navlink.icon"></span> &nbsp;&nbsp;&nbsp; {{ navlink.name }}</div>
					<div id="settings" class="navlink" v-on:click.stop="toggleSettings" tabindex="19">
						<span class="icon icon-cog"></span> &nbsp;&nbsp;&nbsp; Settings
						<span class="icon icon-menu-down right" v-show="showSettings === false">
						</span><span class="icon icon-menu-up right" v-show="showSettings"></span>
					</div>
					<div class="text" v-show="showSettings">
						<div v-if="windows">
							Use Windows Theme
							<div class="switch right">
								<input type="checkbox" id="switch_useWindowsTheme" v-model="useWindowsTheme" />
								<label for="switch_useWindowsTheme" v-on:click="toggleUseWindowsTheme" tabindex="20"></label>
							</div>
						</div>
						<div v-show="useWindowsTheme === false" class="clear">
							Dark Theme
							<div class="switch right">
								<input type="checkbox" id="switch_darktheme" v-model="darkTheme" />
								<label for="switch_darktheme" v-on:click="storeState" tabindex="21"></label>
							</div>
						</div>
						<div class="clear">
							Dropbox
							<a class="right" tabindex="22" v-if="loggedIn === false" v-on:click="login">Connect to Dropbox</a>
							<span class="right">{{ dropboxUsername }}</span>
							<div v-if="loggedIn === true">
								<a class="right" tabindex="23" v-on:click="logout">Disconnect Account</a>
								<br /><br />
								<a class="right" v-if="stoKey === 'unknown' && showStoKeyInput === false" v-on:click="toggle('showStoKeyInput')">Secure your files</a>
								<div class="clear" v-if="stoKey !== 'unknown' && showStoKeyInput === false">
									Your files have been secured <a class="right" v-on:click="toggle('showStoKeyInput')">Change Key</a>
								</div>
								<form v-if="showStoKeyInput" class="right">
									Change your key<br /><br />
									<label for="stoKeyInput" v-bind:class="{alert:stoKeyWarning !== ''}">Create a new password</label>
									<input id="stoKeyInput" type="password" />
									<br /><br />
									<label for="stoKeyInputConfirm" v-bind:class="{alert:stoKeyWarning !== ''}">Type it in again</label>
									<input id="stoKeyInputConfirm" type="password" />
									<span class="alert">{{stoKeyWarning}}</span>
									<button v-on:click.stop="newStoKey">Create Key</button>&nbsp;
									<button v-on:click.stop="toggle('showStoKeyInput')">Cancel</button>
								</form>
								<br />
								<a class="right" v-on:click="syncAll">Sync Now</a>
							</div>
						</div>
						<div class="clear">
							App Version
							<div class="right">{{ version }}</div>
						</div>
						<a class="clear right" href="http://gapps.droppages.com/privacy.html" target="_blank">Privacy Policy</a>
						<p id="copy" class="clear"><small>&copy; 2018 GG</small></p>
					</div>
				</div>
			</div>
		</nav>
		<div id="notification" v-show="showNotify" v-on:click="showNotify = false">
			<div id="notification_msg">{{ notifyMsg }}</div>
			<a id="hideNotification" class="close" aria-label="Close" v-on:click="showNotify = false"><span aria-hidden="true">&times;</span></a>
		</div>
		<div id="spinner" v-show="spinner"><img width="20" height="20" src="images/spinner.gif" /> {{ spinnerMsg[spinIndex] }}</div>
		<div id="confirmContainer" v-show="showConfirm" v-on:click="shakeConfirm"></div>
		<div id="confirm" v-show="showConfirm" v-bind:class="{ shake: confirmShake }">
			<div id="confirmMessage">{{ confirmMsg }}</div>
			<input id="updateStoKeyInput" type="password" v-show="showUpdateKey" />
			<button id="confirmOK" type="button" aria-label="OK" v-on:click="processConfirm(true);">{{ confirmOK }}</button>
			<button id="confirmCancel" type="button" aria-label="Cancel" v-on:click="processConfirm(false);">{{ confirmCancel }}</button>
		</div>
		<div id="closeSidenav" v-on:click="showSettings = false; toggle('showSideNav');"></div>
		<div id="router-views">
			<transition name="fade" mode="out-in">
				<router-view></router-view>
			</transition>
		</div>
		<input type="file" class="hidden" id="hiddenCSVInput" />
	</div>
	<script type="text/javascript" src="scripts/vue.min.js"></script>
	<script type="text/javascript" src="scripts/vue-router.min.js"></script>
	<script type="text/javascript" src="scripts/debugmode.min.js"></script>
	<script type="text/javascript" src="scripts/base64.min.js"></script>
	<script type="text/javascript" src="scripts/dropbox.min.js"></script>
	<script type="text/javascript" src="scripts/Lawnchair.js"></script>
	<script type="text/javascript" src="scripts/adapters/memory.js"></script>
	<script type="text/javascript" src="scripts/adapters/indexed-db.js"></script>
	<script type="text/javascript" src="scripts/adapters/dom.js"></script>
	<script type="text/javascript" src="scripts/storage.js"></script>
	<script type="text/javascript" src="scripts/validate.min.js"></script>
	<script type="text/javascript" src="scripts/nyckelDB.js"></script>
	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="scripts/platformOverrides.js"></script>
	<script type="text/javascript" src="scripts/common.min.js"></script>
	<script type="text/javascript" src="scripts/winjs/base.min.js"></script>
	<script type="text/javascript" src="scripts/lists.min.js"></script>
	<script type="text/javascript" src="scripts/index.js"></script>
	<script type="text/javascript" src="sw.js">
	</script>
</body>
</html>