<!DOCTYPE html>
<html>
<head>

	<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com https://api.dropbox.com https://api.dropboxapi.com/2/ https://api-content.dropbox.com https://cfl.dropboxstatic.com/ https://content.dropboxapi.com/2/ https://dropbox-api.arkoselabs.com/ https://www.dropbox.com https://*.googleusercontent.com/ 'unsafe-eval'; style-src 'self' 'unsafe-inline' data:; media-src *" />
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

	<title>Nyckel (Beta)</title>
	<meta name="description" content="Nyckel Database Application" />

	<!--Favicons-->
	<link rel="icon" type="image/ico" href="favicon.ico" />
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="images/android/android-launchericon-96-96.png" sizes="96x96" />
	<link rel="shortcut icon" href="favicon.ico" />

	<!--web app manifest-->
	<link rel="manifest" href="manifest.json" />

	<!-- Fallback application metadata for legacy browsers -->
	<meta name="application-name" content="Nyckel" />

	<!--microsoft-->
	<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico?v=2" />
	<meta name="msapplication-tooltip" content="Nyckel Database Application" />
	<meta name="msapplication-navbutton-color" content="#478cdb" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="msapplication-config" content="none" />

	<!--apple-->
	<!-- Place 180x180px apple-touch-icon.png in the root directory -->
	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
	<!--ipad-->
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png" />
	<!--ipad retina-->
	<link rel="apple-touch-icon" sizes="167x167" href="apple-touch-icon-167x167.png" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#478cdb" />
	<meta name="apple-mobile-web-app-title" content="Nyckel" />

	<!--chrome-->
	<meta name="mobile-web-app-capable" content="yes" />
	<!-- Place 192x192px icon.png in the root directory -->
	<link rel="icon" type="image/png" sizes="192x192" href="icon.png" />

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#478cdb" />

	<!--css-->
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<link rel="stylesheet" type="text/css" href="css/icons.css" id="default-icons"/>
	<link rel="stylesheet alternate" type="text/css" href="css/icons-mdl2.css" id="segoe-icons"/>
</head>
<body>
	<div id="loading"></div>
	<div id="app" v-bind:class="{
		 'sidenav_open': showSideNav,
		 'dark-theme': useSystemTheme && systemDarkTheme || useSystemTheme === false && darkTheme
		 }">
		<nav id="navbar" v-bind:class="{searchBar_open: showSearchBar, searchBar_closing: hideSearchBar}">
			<div id="back" class="navlink" v-show="backArrow" v-on:click="goBack" tabindex="1" title="Back"><span class="icon icon-chevron-left"></span></div>
			<div id="currentView"> {{ currentView.name }}</div>
			<!--right buttons (reverse order)-->
			<div id="cancelSearch" class="navlink right" v-show="showSearchBar" v-on:click="cancelSearch" tabindex="12" title="Cancel Search"><span class="icon icon-remove"></span></div>
			<div id="menu" class="navlink right" v-on:click="showSettings = false; toggle('showSideNav');" tabindex="6"><span class="icon icon-menu-hamburger"></span></div>
			<div id="search" class="navlink right" v-on:click="search" tabindex="11"><span class="icon icon-search"></span></div>
			<form id="searchBar" class="right">
				<input id="searchAutoComplete" type="search" autocomplete="off" v-model="searchAutoComplete" disabled />
				<input id="searchBox" type="search" autocomplete="off" tabindex="8" v-model="searchBox" v-on:keypress="searchKeyPress($event)" v-on:keyup="searchKeyUp($event)" v-on:keydown="searchKeyDown($event)" v-on:input="searchInput($event)" v-on:focus="showSearchSuggestions=true" />
				<input id="searchReset" type="reset" value="&#10005;" tabindex="9" v-on:click="resetSearch" />
				<div class="searchSuggestions-container desk tabl" tabindex="10" v-if="showSearchBar && searchSuggestions.length > 0 && showSearchSuggestions">
					<ul class="searchSuggestions">
						<li v-for="(suggestion, index) in searchSuggestions" v-on:click="applySuggestion(searchSuggestions[index])" class="link">{{ searchSuggestions[index] }}</li>
					</ul>
				</div>
			</form>
			<div id="topnav-container" class="navButtons desk right">
				<div v-for="(navlink, key, index) in views" v-if="navlink.level === 1" v-bind:id="'topnavlink_' + key" class="navlink" v-on:click="navigate(key)" v-bind:tabindex="index + 2"><span class="icon" v-bind:class="navlink.icon"></span> &nbsp; {{ navlink.name }}</div>
				<div id="topIndicator" class="navlinkIndicator desk" v-bind:style="{ right: indicatorRight + 'px', width: indicatorWidth + 'px' }"></div>
			</div>
		</nav>
		<div class="searchSuggestions-container phon" tabindex="10" v-if="showSearchBar && searchSuggestions.length > 0 && showSearchSuggestions">
				<ul class="searchSuggestions">
					<li v-for="(suggestion, index) in searchSuggestions" v-on:click="applySuggestion(searchSuggestions[index])" class="link">{{ searchSuggestions[index] }}</li>
				</ul>
			</div>
		<nav id="sidenav">
			<div id="sidenav-container">
				<div class="navButtons">
					<div id="sideIndicator" class="navlinkIndicator phon tabl" v-bind:style="{ top: indicatorTop + 'px' }"></div>
					<div v-for="(navlink, key, index) in views" v-if="navlink.level === 1" v-bind:id="'sidenavlink_' + key" class="navlink phon tabl" v-on:click="navigate(key)" v-bind:tabindex="index + 13" v-bind:title="navlink.name"><span class="icon" v-bind:class="navlink.icon"></span> &nbsp;&nbsp;&nbsp;&nbsp; {{ navlink.name }}</div>
					<div id="settings" class="navlink" v-on:click.stop="toggleSettings" tabindex="19">
						<span class="icon icon-cog"></span> &nbsp;&nbsp;&nbsp;&nbsp; Settings
						<span class="icon icon-menu-down right" v-show="showSettings === false">
						</span><span class="icon icon-menu-up right" v-show="showSettings"></span>
					</div>
					<div class="text" v-show="showSettings">
						<h6>Personalisation</h6>
						<div>
							Use System Theme
							<div class="switch right">
								<input type="checkbox" id="switch_useSystemTheme" v-model="useSystemTheme" v-on:change="toggleUseSystemTheme" />
								<label for="switch_useSystemTheme" tabindex="20"></label>
							</div>
						</div>
						<div v-show="useSystemTheme === false" class="clear">
							Dark Theme
							<div class="switch right">
								<input type="checkbox" id="switch_darktheme" v-model="darkTheme" v-on:change="setTheme"/>
								<label for="switch_darktheme" v-on:click="storeState" tabindex="21"></label>
							</div>
						</div>
						<div v-show="useSystemTheme === false && windows === true || windows === false" class="clear">
							Accent Color
							<color-select class="right menu-button" align="right" v-bind:noinputcolor="accentColor" v-bind:color="accentColor" v-on:color-select="setAccentColor"></color-select>
						</div>
						<h6>Dropbox</h6>
						<div class="clear" v-if="loggedIn === false">
							Connect App
							<button class="right" tabindex="22" v-on:click="login">Sign in</button>
						</div>
						<div v-else class="clear">
							<div align="right">{{ dropboxUsername }}</div>
							<br />
							<button class="right clear" tabindex="23" v-on:click="logout">Sign Out</button>
							<button class="right clear" v-on:click="syncAll">Sync Now</button>
							<button class="right clear" v-if="stoKey === 'unknown' && showStoKeyInput === false" v-on:click="toggle('showStoKeyInput')">Secure your files</button>
							<div class="clear" v-if="stoKey !== 'unknown' && showStoKeyInput === false">
								<div>Your files have been secured</div>
								<br />
								<button class="clear right" v-on:click="toggle('showStoKeyInput')">Change Key</button>
							</div>
							<div v-if="showStoKeyInput" class="clear">
								Change your key<br /><br />
								<label for="stoKeyInput" v-bind:class="{alert:stoKeyWarning !== ''}">Create a new password</label>
								<input id="stoKeyInput" type="password" />
								<br /><br />
								<label for="stoKeyInputConfirm" v-bind:class="{alert:stoKeyWarning !== ''}">Type it in again</label>
								<input id="stoKeyInputConfirm" type="password" />
								<span class="alert">{{stoKeyWarning}}</span>
								<div class="clear right">
									<button v-on:click.stop="newStoKey">Create Key</button>
									<button v-on:click.stop="toggle('showStoKeyInput')">Cancel</button>	
								</div>									
							</div>
						</div>
						<h6>Reset data and settings</h6>
						<div class="clear">
							<button class="right" v-on:click="resetSettings">Reset Settings</button>
							<button v-if="loggedIn === true" class="alert right" v-on:click="wipeDropbox">Delete Cloud Data</button>
							<button class="alert right" v-on:click="wipeApp">Delete Local Data</button>
						</div>
						<br />
						<hr />
						<div class="clear">
							App Version
							<div class="right">{{ version }}</div>
						</div>
						<a class="clear right" href="http://gapps.droppages.com/privacy.html" target="_blank">Privacy Policy</a>
						<p id="copy" class="clear"><small>&copy; 2018 GG</small></p>
					</div>
				</div>
			</div>
		</nav>
		<div id="notification" v-show="showNotify" v-on:click="showNotify = false">
			<div id="notification_msg">{{ notifyMsg }}</div>
			<a id="hideNotification" class="close" aria-label="Close" v-on:click="showNotify = false"><span aria-hidden="true">&times;</span></a>
		</div>
		<div id="spinner" v-show="spinner"><img width="20" height="20" src="images/spinner.gif" /> {{ spinnerMsg[spinIndex] }}</div>
		<div id="confirmContainer" v-show="showConfirm" v-on:click="shakeConfirm"></div>
		<div id="confirm" v-show="showConfirm" v-bind:class="{ shake: confirmShake }">
			<h5 v-if="confirmDetails">{{ confirmMsg }}</h5>
			<div id="confirmMessage">{{ confirmDetails || confirmMsg }}</div>
			<form>
				<input id="updateStoKeyInput" type="password" v-show="showUpdateKey" />
				<button id="confirmOK" type="button" aria-label="OK" v-on:click="processConfirm(true);">{{ confirmOK }}</button>
				<button id="confirmCancel" type="button" aria-label="Cancel" v-on:click="processConfirm(false);">{{ confirmCancel }}</button>
			</form>
		</div>
		<div id="closeSidenav" v-on:click="showSettings = false; toggle('showSideNav');"></div>
		<div id="router-views">
			<transition :name="transitionName" mode="out-in">
				<router-view :key='$route.fullPath' ref="router1"></router-view>
			</transition>
		</div>
		<input type="file" class="hidden" id="hiddenCSVInput" />
	</div>

	<!-- Vue.js Templates -->
	<script type="text/x-template" id="dropdown-button">
		<div class="dropdownButton dropdown-container">
			<button class="dropdownButton" v-if="custominput && open === false || custominput === false" v-on:click="toggle" v-bind:class="{selected: open}" v-bind:title="title">
				<template v-if="icon">
					<span class="dropdownButton icon" v-bind:class="icon"></span>
					<template v-if="noinputtext || buttonValue !== '' || noarrow === false">
						&nbsp;&nbsp;
					</template>
				</template>
				<template v-if="noinputtext || buttonValue !== ''">
					{{ buttonValue || noinputtext }}
				</template>
				<template v-if="noarrow === false">
					&nbsp;
					<small>
						<span v-show="open" class="dropdownButton icon icon-triangle-top"></span>
						<span v-show="open === false" class="dropdownButton icon icon-triangle-bottom"></span>
					</small>
				</template>
			</button>
			<input ref="input" v-if="custominput && open" type="text" class="dropdownButton textbox" v-model:value="buttonValue" v-on:keyup.enter="action($event, buttonValue)" autocomplete="off"/>
			<div v-show="open" class="dropdownButton dropdown" v-bind:class="align">
				<a class="dropdownButton link" v-for="link in links" v-on:click="action($event, link.action)" v-bind:class="{disabled: link.disabled}" v-bind:href="link.href ? link.href : null">
					<span class="dropdownButton icon left" v-bind:class="link.icon"></span>
					<div class="dropdownButton" v-if="link.text !== ''" v-bind:class="{'dropdownlink-text': link.icon !== ''}">
						{{ link.text }}
					</div>
				</a>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="icon-select">
		<div class="dropdownButton dropdown-container">
			<button class="dropdownButton" v-on:click="toggle" v-bind:class="{selected: open}">
				<template v-if="iconSelected"><span class="dropdownButton icon" v-bind:class="iconSelected"></span></template>
				<template v-else="noinputtext">{{ noinputtext }}</template>
			</button>
			<div v-show="open" class="dropdownButton dropdown grid" v-bind:class="align">
				<a class="left button-link dropdownButton" v-for="option in options" v-on:click="select(option)"><span class="dropdownButton icon" v-bind:class="option"></span></a>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="color-select">
		<div class="dropdownButton dropdown-container">
			<button class="dropdownButton" v-on:click="toggle" v-bind:class="{selected: open}" v-bind:style="{ backgroundColor: colorSelected || noinputcolor }"></button>
			<div v-show="open" class="dropdownButton dropdown grid" v-bind:class="align">
				<div class="left button-link dropdownButton" v-for="option in options" v-on:click="select(option)" v-bind:style="{ backgroundColor:option }"></div>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="jump-list">
		<div v-if="list.length > 0">
			<div align="left">
				<button v-show="selected === false" v-on:click="toggleSelect" class="left"><span class="icon icon-check"></span>&nbsp;&nbsp;Select</button>
				<button v-show="selected && selectAll === false" v-on:click="toggleSelectAll" class="left"><span class="icon icon-unchecked"></span>&nbsp;&nbsp;Select All</button>
				<button v-show="selected && selectAll" v-on:click="toggleSelectAll" class="left"><span class="icon icon-check"></span>&nbsp;&nbsp;Deselect All</button>
				<button v-show="selected" v-on:click="toggleSelect" class="left"><span class="icon icon-cancel"></span>&nbsp;&nbsp;Cancel Select</button>
				<button v-show="selected === false && collapsed === false" v-on:click="toggle('collapsed')" class="left"><span class="icon icon-th"></span>&nbsp;&nbsp;Button View</button>
				<button v-show="selected === false && collapsed" v-on:click="toggle('collapsed')" class="left"><span class="icon icon-list"></span>&nbsp;&nbsp;List View</button>
				<dropdown-button icon="icon-more" class="left" title="Actions" align="right"
								 v-on:dropdown-action="moreDropdownActions"
								 v-on:dropdown-open="updateDropdownLinks"
								 v-bind:links="moreDropdownLinks"
								 v-bind:noarrow="true">
				</dropdown-button>
			</div>
			<ul class="links clear" v-bind:collapsed="collapsed">
				<li v-for="link in list" v-bind:id="link.id" v-show="showIf(link, collapsed)" v-on:click="action(link, scrolldiv, collapsed)" v-bind:class="{
					'link': link.type === 'link',
					'jumplink': link.type === 'jumplink',
					'jumplink-button': link.type === 'jumplink' && collapsed === true,
					'icon': selected && link.type === 'link',
					'icon-unchecked': selected && link.selected === false,
					'icon-check': selected && link.selected,
					'selected': selected && link.selected }">
					{{ link.text }}
				</li>
			</ul>
		</div>
	</script>

	<script type="text/x-template" id="new-table-page">
		<div class="view">
			<div class="view-container">
				<h3>Create a New Table</h3>
				<label class="itemLabel">Table Name</label>
				<input type="text" class="textbox" autocomplete="off" v-model="newTable.title" />
				<label class="itemLabel">Table Icon</label>
				<div class="itemInput"><icon-select v-on:icon-select="setIcon" v-bind:icon="icon"></icon-select></div>
				<label class="itemLabel">Templates</label>
				<div class="itemInput"><button v-on:click="template('Blank')"><span class="icon icon-page"></span>&nbsp;&nbsp;Blank Template</button><button v-on:click="template('Contacts')"><span class="icon icon-user"></span>&nbsp;&nbsp;Contacts Template</button> <button v-on:click="template('Passwords')"><span class="icon icon-lock"></span>&nbsp;&nbsp;Passwords Template</button> <button v-on:click="template('Files')"><span class="icon icon-folder-open"></span>&nbsp;&nbsp;Files Template</button></div>
				<label class="itemLabel">Table Setup</label>
				<div class="table-container" v-bind:class="{ 'fullscreen': newTable.fullscreen }">
					<table>
						<tr>
							<th>
								<a v-show="newTable.fullscreen" v-on:click="newTable.fullscreen = false"><span class="icon icon-resize-small"></span>&nbsp;&nbsp;Exit Fullscreen</a>
								<a v-show="newTable.fullscreen === false" v-on:click="newTable.fullscreen = true"><span class="icon icon-fullscreen"></span>&nbsp;&nbsp;Fullscreen</a>
							</th>
							<th v-for="(column, index) in newTable.headers">
								<div class="dropdown-container">
									<a v-on:click="toggleDropdown('optionsDropdown', index)">Column {{ index + 1 }}</a>
									<ul v-show="newTable.optionsDropdown === index" class="dropdown">
										<li v-on:click="sortbyColumn(index)">Sort By Column</li>
										<li v-on:click="deleteColumn(index)">Delete Column</li>
										<li v-on:click="insertColumn(index)">Insert Column Left</li>
										<li v-on:click="insertColumn(index + 1)">Insert Column Right</li>
									</ul>
								</div>
							</th>
							<th><a v-on:click="insertColumn(false)"><span class="icon icon-plus" title="Add New Column"></span></a></th>
						</tr>
						<tr><th title="These are the headers of the columns in your table">Column&nbsp;Name</th><td v-for="(column, index) in newTable.headers"><input type="text" size="12" v-model="newTable.headers[index]" /></td><td></td></tr>
						<tr>
							<th>Column&nbsp;Data&nbsp;Type</th>
							<td v-for="(type, index) in newTable.types">
								<div class="dropdown-container">
									<a v-on:click="toggleDropdown('typesDropdown', index)">{{ type }}</a>
									<ul v-show="newTable.typesDropdown === index" class="dropdown">
										<li v-for="validType in newTable.typesDropdownOptions" v-on:click="newTable.types[index] = validType; newTable.typesDropdown = -1;">{{ validType }}</li>
									</ul>
								</div>
							</td>
							<td></td>
						</tr>
						<tr>
							<th title="Do you want data from this column to show up in search results?">Searchable</th>
							<td v-for="(value, index) in newTable.options.searchable">
								<div class="dropdown-container">
									<a v-on:click="toggleDropdown('searchableDropdown', index)">{{ value }}</a>
									<ul v-show="newTable.searchableDropdown === index" class="dropdown">
										<li v-for="option in newTable.searchableDropdownOptions" v-on:click="newTable.options.searchable[index] = option; newTable.searchableDropdown = -1;">{{ option }}</li>
									</ul>
								</div>
							</td>
							<td></td>
						</tr>
						<tr><th></th><td v-for="(type, index) in newTable.types"></td><td></td></tr>
						<tr><th></th><td v-for="(type, index) in newTable.types"></td><td></td></tr>
						<tr><th></th><td v-for="(type, index) in newTable.types"></td><td></td></tr>
						<tr><th></th><td v-for="(type, index) in newTable.types"></td><td></td></tr>
					</table>
				</div>
				<label class="itemLabel" v-show="showCustomPropertyInput === false">Custom Properties</label>
				<div class="itemText" v-show="showCustomPropertyInput === false">
					<div v-for="property in customProperties">{{ property.name }} ({{property.type}}): {{ property.initialValue }}</div>
					<button v-on:click="showCustomPropertyInput = true"><span class="icon icon-plus"></span>&nbsp;&nbsp;Add new property</button>
				</div>
				<div v-show="showCustomPropertyInput">
					<label class="itemLabel">Property Name</label>
					<input type="text" class="textbox" autocomplete="off" v-model="customPropertyName" />
					<label class="itemLabel">Property Type</label>
					<dropdown-button class="left" v-on:dropdown-action="setCustomPropertyType" v-bind:links="customPropertyTypes" noinputtext="[ Select a data type (required) ]" select v-bind:buttontext="customPropertyType"></dropdown-button>
					<label class="itemLabel">Initial Value</label>
					<input v-bind:type="initialValueInputType" class="textbox" autocomplete="off" v-model="customPropertyInitialValue" />
					<div class="alert">{{ customPropertyError }}</div>
					<button v-on:click="addNewProperty">Save Property</button>
				</div>
				<label class="itemLabel">Import Data</label>
				<div class="itemText"><button v-on:click="importNewTable('csv')"><span class="icon icon-import"></span>&nbsp;&nbsp;From CSV</button></div>
				<button>Save Table</button>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="recent-page">
		<div class="views">
			<div id="recentView" class="view" v-bind:class="{splitViewLeft: recentDetails.data.length > 0}">
				<div v-if="loading" class="view-container">
					<h5>Loading...</h5>
				</div>
				<div v-else-if="recentlyViewed.length > 0" class="view-container">
					<h3>Recently Viewed</h3>
					<jump-list v-bind:links="recentlyViewed" scrolldiv="recentView" v-bind:details="recentDetails" v-on:update-details="onDetailsUpdate" v-on:update-recently-viewed="onRecentlyViewedUpdate"></jump-list>
				</div>
				<div v-else class="view-container">
					<h3>Nyckel <sup><small><small>(v{{ version }})</small></small></sup></h3>
					<h5>Store, search, view, share and sync data across devices using the cloud.</h5>
					<p>Nyckel is an experimental application which uses NyckelDB, a database written in Javascript for mobile and web applications. 
						You can read the full NyckelDB API documentation <a href="dev/index.html" target="_blank">here</a>
					</p>
					<br />
					<p>
						<span class="icon icon-alert alert"></span>
						<b class="alert">WARNING: This application is currently under development, so you can expect breaking changes in the future that WILL DELETE YOUR DATA.</b>
						Features will be added and removed as development progresses. If the app becomes unstable, you can reset it in the Settings menu.
					</p>
				</div>
			</div>
			<div class="scroll-outer-container">
				<div class="view splitViewRight">
					<transition name="forward" mode="out-in">
						<component v-bind:is="detailsView" v-bind:details="recentDetails"></component>
					</transition>
				</div>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="groups-page">
		<div class="view">
			<div class="view-container">
				<div v-if="groups.length === 0 || showNewGroupUI">
					<button v-show="groupName !== '' && groupPage > 1" v-on:click="groupPage = 1"><span class="icon icon-arrow-left"></span>&nbsp;&nbsp;Edit Group Name: {{groupName}}</button>
					<button v-show="groupSearchBox !== '' && groupPage > 2" v-on:click="groupPage = 2"><span class="icon icon-arrow-left"></span>&nbsp;&nbsp;Edit Search Query: {{groupSearchBox}}</button>
					<div v-show="groupPage === 1">
						<h3>Create a new group</h3>
						<label class="itemLabel">Give the Group a Name</label>
						<input type="text" class="textbox" autocomplete="off" v-model="groupName" />
						<button type=button v-bind:disabled="groupName === ''" v-on:click="groupPage++">Next&nbsp;&nbsp;<span class="icon icon-arrow-right"></span></button>
					</div>
					<div v-show="groupPage === 2">
						<h3>Make the Group Dynamic based on a Search Query</h3>
						<p>The group can update itself dynamically as data changes in the database. <a v-on:click='toggle("groupHelp")'>Learn how to refine your search</a></p>
						<div v-if="groupHelp">
							<p>
								You can refine your search by adding to, or subtracting from your search by prefixing additional search terms with the "+" or "-" charactors.
								For example, searching for "Bob Johnston" would find Bob Johnston, as expected, but "Bob +Johnston" finds all the Bobs, as well as all the Johnstons
								(Bob Smith, Bob Johnston, Bob Dunn, Jim Johnston...), whereas "Bob -Johnston" finds all the Bobs who are not Johnstons (Bob Smith, Bob Dunn).
							</p>
							<p>Note: Every word doesn't need a prefix. "Bob Johnston +Bob Dunn" also works. And the first word doesn't need a prefix (it is always +)</p>
						</div>
						<label class="itemLabel">Input Search Terms</label>
						<input type="search" class="textbox" autocomplete="off" v-model="groupSearchBox" v-on:keypress="groupKeyPress($event)" v-on:keyup="groupKeyUp($event)" v-on:keypdown="groupKeyDown($event)" v-on:input="groupInput($event)" />
						<button v-if="groupSearchBox === ''" v-on:click="groupPage++">Skip&nbsp;&nbsp;<span class="icon icon-arrow-right"></span></button>
					</div>
					<div v-show="groupPage === 3">
						<h3>Select Members</h3>
						<label class="itemLabel">Add Members by Selection</label>
						<div id="selectGroupItems" class="editbox">
							<button v-if="activeGroup.length === 0" v-on:click="showSelectGroupMembers">Select Group Members</button>
							<jump-list v-else v-bind:links="activeGroup" scrolldiv="selectGroupItems" select></jump-list>
						</div>
					</div>
					<div v-show="groupPage > 1 && activeGroup.length > 0">
						<label class="itemLabel">Group Preview</label>
						<div id="groupPreview" class="editbox">
							<div v-if="activeGroup.length === 0">Nothing to show</div>
							<div class="groupMember" v-for="item in activeGroup" v-if="item.selected">{{ item.text }}&nbsp;<a v-on:click="item.selected = false">&nbsp;&#10005;&nbsp;</a></div>
						</div>
						<button v-on:click="resetGroups">Cancel</button>
						<button v-on:click="newGroup">Create Group</button>
					</div>
				</div>
				<div v-else-if="showEditGroupUI">
					<h3>Editing {{ groupName }} group</h3>
				</div>
				<div v-else>
					<h3>Groups</h3>
					<ul v-show="groups.length > 0" class="links">
						<li v-for="(groupName, index) in groups" class="link" v-on:click="seeGroup(index)">{{ groupName }}</li>
					</ul>
					<button v-on:click="toggle('showNewGroupUI')">Create a New Group</button>
				</div>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="view1-page">
		<div class="view">
			<div class="view-container">
				<h3>Contacts</h3>
				<a class="button" v-on:click="createNewItem('Contacts')">Create a new Contact</a>
				<br />
				<br />
				<a class="button" v-on:click="importFile('Contacts')">Select a CSV file from your device</a>
				<br />
				<br />
				<a class="button" v-on:click="generateListView('Contacts')">See all contacts</a>
				<br />
				<br />
				<a class="button" v-on:click="shareFile('README.txt','Readme')">Share test file</a>
				<br />
				Share Link: {{ sharedFileLink }}
				<br />
				<a class="button" v-on:click="receiveFile('https://www.dropbox.com/s/kdislb8rhya2ymx/README.txt?dl=0')">Receive test file</a><br />
				<br />
				Test SMS links
				<a href="sms:1234567890">1234567890</a><br>
				<a v-on:click="externalLink(1234567890,'sms')">click 1234567890</a><br>
				<a v-bind:href="externalLink(1234567890,'sms')">href 1234567890</a><br>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="view2-page">
		<div class="view">
			<div class="view-container">
				<h3>Passwords</h3>
				<a class="button" v-on:click="createNewItem('Passwords')">Create a new Password</a>
				<br />
				<br />
			</div>
		</div>
	</script>

	<script type="text/x-template" id="view3-page">
		<div class="view">
			<div class="view-container">
				<h3>Files</h3>
				<a class="button" v-on:click="importFile('Files')">Select a file from your device</a>
				<input type="file" class="hidden" id="hiddenFileInput" />
				<br />
				<br />
				<a class="button" v-on:click="generateListView('Files')">See all files</a>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="details-page">
		<div class="view">
			<div class="view-container">
				<details-card v-bind:details="details"></details-card>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="details-card">
		<div>
			<div v-if="details.data.length > 0">
				<div>
					<img v-if="details.image" v-bind:src="details.image" class="roundImage left" />
					<div>
						<h3>{{ details.title }}</h3>
						<h5 v-if="details.subtitle">{{ details.subtitle }}</h5>
					</div>
				</div>
				<br />
				<br />
				<dropdown-button class="left"
								 v-bind:links="groupsDropdownLinks"
								 v-bind:title="'Add ' + details.title + ' to Group'"
								 icon="icon-people"
								 buttontext="Add to Group"
								 v-on:dropdown-action="groupsDropdownActions"
								 v-on:dropdown-open="initializeGroups">
				</dropdown-button>
				<dropdown-button class="left"
								 v-bind:links="copyDropdownLinks"
								 icon="icon-copy"
								 buttontext="Copy"
								 v-on:dropdown-action="copyToClipboard"
								 v-on:dropdown-open="initializeCopyActions">
				</dropdown-button>
				<dropdown-button class="left phon"
								 v-bind:links="moreDropdownLinks"
								 icon="icon-more"
								 v-on:dropdown-action="moreDropdownActions"
								 v-bind:noarrow="true"
								 align="right">
				</dropdown-button>
				<button v-on:click="editDetails" v-bind:title="'Edit ' + details.title" class="left tabl desk"><span class="icon icon-pencil"></span>&nbsp;&nbsp;Edit</button>
				<button v-on:click="deleteItem" v-bind:title="'Delete ' + details.title" class="left tabl desk"><span class="icon icon-delete"></span>&nbsp;&nbsp;Delete</button>
				<br />
				<template v-for="(item, index) in details.data">
					<details-card-lineitem v-if="item.value" v-bind:item="item" v-bind:key="'lineitem_' + index"></details-card-lineitem>
					<div class="clear" v-else-if="item.group && item.show !== 0 && item.hidden !== true">
						<details-card-lineitem v-for="(groupItem, groupIndex) in item.group" v-bind:item="groupItem" v-bind:key="'lineitem_' + index + '_' + groupIndex"></details-card-lineitem>
					</div>
				</template>
			</div>
			<div v-else-if="details.error">
				<h3>{{ details.title }}</h3>
				<h5 v-if="details.subtitle">{{ details.subtitle }}</h5>
				<p>{{ details.error }}</p>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="details-card-lineitem">
		<div v-if="item.value[0] && !item.hidden" class="lineItem">
			<label v-if="item.label" class="itemLabel">{{ item.label.value }}</label>
			<label v-else class="itemLabel">{{ item.column }}</label>
			<div class="itemText">
				<template v-for="(line, lineIndex) in item.value">
					<template v-if="lineIndex > 0 && item.type !== 'formattedAddress'">
						<br />
					</template>
					<template v-if="item.type === 'email'">
						<a v-bind:href="externalLink(line, 'email')">
							<span class="icon icon-envelope"></span>&nbsp;&nbsp;{{ line }}
						</a>
					</template>
					<template v-else-if="item.type === 'phoneNumber'">
						<template v-if="item.label && /home/i.test(item.label.value)">
							<a v-bind:href="externalLink(line, 'phone')">
								<span class="icon icon-phone-alt"></span>&nbsp;&nbsp;{{ line }}
							</a>
						</template>
						<template v-else>
							<a v-bind:href="externalLink(line, 'phone')" title="Dial">
								<span class="icon icon-phone"></span>&nbsp;&nbsp;{{ line }}
							</a>&nbsp;&nbsp;&nbsp;&nbsp;
							<a v-bind:href="externalLink(line, 'sms')" title="Text Message">
								<span class="icon icon-comment"></span>&nbsp;&nbsp;SMS
							</a>
						</template>
					</template>
					<template v-else-if="item.type === 'formattedAddress' && lineIndex === 0">
						<a v-bind:href="externalLink(line, 'address', item.value)">
							<span class="icon icon-mappin"></span>&nbsp;&nbsp;
							<template v-for="(addressLine, addressLineIndex) in item.value">
								<template v-if="addressLineIndex > 0">
									<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								</template>
								{{ addressLine }}
							</template>
						</a>
					</template>
					<template v-else-if="item.type === 'formattedAddress'">
						<!--skip additional formattedAddress lines-->
					</template>
					<template v-else-if="item.label && item.label.value === 'GPS'">
						<a v-bind:href="externalLink(line, 'www')" title="Open in Web Browser">
							<span class="icon icon-world"></span>&nbsp;&nbsp;{{ line }}
						</a>
						<br /><br />
						<a v-bind:href="externalLink(line, 'gps')" title="Open in Maps App">
							<span class="icon icon-mappin"></span>&nbsp;&nbsp;Maps App
						</a>
					</template>
					<template v-else-if="item.type === 'multilineString' && /^===\s.*\s===$/.test(line)">
						<b><i>{{line.replace(/^===|===$/g,'')}}</i></b>
						<br />
					</template>
					<template v-else-if="item.type === 'multilineString' && /^\*\*\*\s.*\s\*\*\*$/.test(line)">
						<b>{{line.replace(/^\*\*\*|\*\*\*$/g,'')}}</b>
					</template>
					<template v-else-if="item.type === 'multilineString' && /^-\s/.test(line)">
						&nbsp;&nbsp;&nbsp;{{line.replace(/^-\s/g,'')}}
					</template>
					<template v-else>
						{{ line }}
					</template>
				</template>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="search-results-page">
		<div class="views">
			<div id="searchResultsView" class="view" v-bind:class="{splitViewLeft: searchDetails.data.length > 0}">
				<div class="view-container">
					<div v-if="searchResults.length > 0">
						<h3>{{ searchResultsTitle }}</h3>
						<jump-list v-bind:links="searchResults"
								   v-bind:select="selectSearchResults"
								   scrolldiv="searchResultsView"
								   v-bind:details="searchDetails"
								   v-bind:currentQuery="currentQuery"
								   v-on:update-details="onDetailsUpdate"
								   v-on:update-recently-viewed="onRecentlyViewedUpdate">
						</jump-list>
					</div>
					<h6>{{ searchResultsError }}</h6>
				</div>
			</div>
			<div class="scroll-outer-container">
				<div class="view splitViewRight">
					<transition name="forward" mode="out-in">
						<component v-bind:is="detailsView" v-bind:details="searchDetails"></component>
					</transition>
				</div>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="edit-details-page">
		<div class="view">
			<div class="view-container">
				<edit-details-card v-bind:details="details"></edit-details-card>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="edit-details-card">
		<div>
			<h3 v-if="details.title">Edit: <i>{{ details.title }}</i></h3>
			<h3 v-else>Edit</h3>
			<div class="cards">
				<template v-for="(item, index) in details.data">
					<edit-details-card-lineitem v-if="item.value" v-bind:item="item"></edit-details-card-lineitem>
					<edit-details-card-collapse v-else-if="item.group" v-bind:item="item" v-bind:collapse="item.collapse" v-bind:show="item.show"></edit-details-card-collapse>
				</template>
			</div>
			<div>
				<button v-on:click="saveChanges"><span class="icon icon-ok"></span>&nbsp;&nbsp;Save</button>
				<button v-on:click="cancelChanges"><span class="icon icon-remove"></span>&nbsp;&nbsp;Cancel</button>
			</div>
		</div>
	</script>

	<script type="text/x-template" id="edit-details-card-lineitem">
		<div v-if="!item.readonly" class="lineItem" v-bind:class="{valid: valid, invalid: valid === false}">
			<dropdown-button v-if="item.label && item.label.options"
							 class="itemLabel"
							 v-bind:buttontext="item.label.value"
							 v-bind:noinputtext="'[ Select ' + item.label.column.replace(/_/g,' ').replace(/([A-Z]+)/g, ' $1').replace(/([A-Z][a-z])/g, ' $1') + ' ]'"
							 v-bind:custominput="item.label.customize"
							 select
							 v-bind:links="item.label.options"
							 v-on:dropdown-action="setLabel"
							 v-bind:id="item.column + '_label'">
			</dropdown-button>
			<template v-else-if="item.label">
				<label class="itemLabel">{{ item.label.column.replace(/_/g," ").replace(/([A-Z]+)/g, " $1").replace(/([A-Z][a-z])/g, " $1") }}</label>
				<input type="text" v-bind:value="item.label.value" class="textbox" autocomplete="off"/>
			</template>
			<label v-else-if="item.column" class="itemLabel">{{ item.column.replace(/_/g," ").replace(/([A-Z]+)/g, " $1").replace(/([A-Z][a-z])/g, " $1") }}</label>
			<textarea v-if="item.type === 'multilineString'" v-bind:value="item.value.join('\r\n')" class="textbox"></textarea>
			<template v-else v-for="(value, i) in item.value">
				<input v-if="item.type === 'number'" type="number" v-model="item.value[i]" class="textbox" autocomplete="off" v-on:focus="item.focused = true" v-on:blur="onBlur(value, item.type)"/>
				<input v-else-if="item.type === 'integer'" type="number" step="1" v-model="item.value[i]" class="textbox" autocomplete="off" v-on:focus="item.focused = true" v-on:blur="onBlur(value, item.type)"/>
				<input v-else-if="item.type === 'posInteger'" type="number" min="0" step="1" v-model="item.value[i]" class="textbox" autocomplete="off" v-on:focus="item.focused = true" v-on:blur="onBlur(value, item.type)"/>
				<input v-else-if="item.type === 'negInteger'" type="number" max="0" step="1" v-model="item.value[i]" class="textbox" autocomplete="off" v-on:focus="item.focused = true" v-on:blur="onBlur(value, item.type)"/>
				<div v-else-if="item.type === 'boolean'" class="switch right">
					<input type="checkbox" v-bind:id="'switch_' + item.column" v-model="item.value[i]" />
					<label v-bind:for="'switch_' + item.column" v-on:click="toggleItem(item, i)"></label>
				</div>
				<input v-else-if="item.type === 'date'" type="date" v-model="item.value[i]" class="textbox" v-on:blur="validateData(value, item.type)"/>
				<input v-else-if="item.type === 'email'" type="email" v-model="item.value[i]" class="textbox" autocomplete="off" v-on:focus="item.focused = true" v-on:blur="onBlur(value, item.type)"/>
				<input v-else-if="item.type === 'phoneNumber'" type="tel" v-model="item.value[i]" class="textbox" autocomplete="off" v-on:focus="item.focused = true" v-on:blur="onBlur(value, item.type)"/>
				<dropdown-button v-else-if="item.options"
								 align="left"
								 class="left"
								 v-bind:buttontext="value"
								 v-bind:noinputtext="'[ Select ' + item.column.replace(/_/g,' ').replace(/([A-Z]+)/g, ' $1').replace(/([A-Z][a-z])/g, ' $1') + ' ]'"
								 v-bind:custominput="item.customize"
								 select
								 v-bind:links="item.options"
								 v-on:dropdown-action="setValue"
								 v-bind:id="item.column + '_dropdown' + i">
				</dropdown-button>
				<input v-else type="text" v-model="item.value[i]" class="textbox" autocomplete="off" v-on:focus="focused = true" v-on:blur="onBlur(value, item.type)"/>
				<a class="cancelButton" v-on:click="clearValue" v-show="value !== '' && focused === true"><span class="icon icon-cancel"></span></a>
				<div class="alert" v-bind:title="validationErrorDetails">{{ validationError }}</div>
			</template>
		</div>
	</script>

	<script type="text/x-template" id="edit-details-card-collapse">
		<div class="card" v-if="item.readonly !== true">
			<div v-if="item.groupHeading" class="cardHeading" v-on:click="toggleCollapse">
				<span v-show="isCollapsed" class="desk tabl icon icon-menu-right left"></span>
				<span v-show="isCollapsed === false" class="desk tabl icon icon-menu-down left"></span>
				<span class="desk tabl left">&nbsp;&nbsp;</span>{{ item.groupHeading }}
				<span v-show="isCollapsed" class="phon icon icon-menu-down right"></span>
				<span v-show="isCollapsed === false" class="phon icon icon-menu-up right"></span>
			</div>
			<transition name="expand">
				<div v-show="isCollapsed === false" class="cardExpand">
					<template v-for="(groupItem, index) in item.group">
						<edit-details-card-lineitem v-show="item.collapse === false || index < numShown" v-bind:item="groupItem" v-bind:key="'edit_' + groupItem.column"></edit-details-card-lineitem>
						<button v-show="item.collapse && index < item.group.length - 1 && index === numShown - 1" v-on:click="revealNext(item.collapse)" class="lineItem"><span class="icon icon-plus"></span></button>
					</template>
				</div>
			</transition>
		</div>
	</script>

	<script type="text/x-template" id="page-not-found">
		<div class="view">
			<div class="view-container">
				<h3>Page not found :´(</h3>
				<h5>Not sure what you was lookin' for here, but I can assure you that this ain't it!</h5>
			</div>
		</div>
	</script>

	<!-- JavaScript files -->
	<script type="text/javascript" src="scripts/vue.min.js"></script>
	<script type="text/javascript" src="scripts/vue-router.min.js"></script>
	<script type="text/javascript" src="scripts/debugmode.min.js"></script>
	<script type="text/javascript" src="scripts/base64.min.js"></script>
	<script type="text/javascript" src="scripts/dropbox.min.js"></script>
	<script type="text/javascript" src="scripts/Lawnchair.js"></script>
	<script type="text/javascript" src="scripts/adapters/dom.js"></script>
	<script type="text/javascript" src="scripts/adapters/indexed-db.js"></script>
	<script type="text/javascript" src="scripts/storage.js"></script>
	<script type="text/javascript" src="scripts/validate.min.js"></script>
	<script type="text/javascript" src="scripts/nyckelDB.js"></script>
	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="scripts/platformOverrides.js"></script>
	<script type="text/javascript" src="scripts/common.min.js"></script>
	<script type="text/javascript" src="scripts/winjs/base.min.js"></script>
	<script type="text/javascript" src="scripts/lists.min.js"></script>
	<script type="text/javascript" src="scripts/index.js"></script>
	<script type="text/javascript" src="sw.js"></script>
</body>
</html>